.container-fluid {
  .addresses_left-header {
    text-align: left;
  }
  h1 {
    text-transform: uppercase;
  }
  h3 {
    text-align: center;
    text-transform: uppercase;
  }
  ul.addresses_left-main {
    font-size: 20px;
    li {
      padding: 10px 0;
      a {
        color: black;

        &:hover {
          color: rgb(222, 164, 88);
          text-transform: uppercase;
        }
      }
    }
  }
}
.product_item {
  display: flex;
  width: 100%;
  .product_order-img {
    padding-bottom: 20px;
    width: 500px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
  .product_order-name {
    padding-top: 20px;
    padding-left: 50px;
    font-size: 25px;
    width: 100%;
  }
}
.product_order {
  font-size: 22px;
  border-bottom: 1px solid #ccc;
}
button.ant-btn.css-dev-only-do-not-override-mxhywb.ant-btn-primary {
  margin-bottom: 20px;
}
